*.zip
*.md5
*.pckl
# *.csv
*.xlsx
*.gz
*.sdf
*.filepart
__pycache__/
.vscode/
.idea/
*.whl
temp/
figures/
transformers/
cache/
plot/
useful_things.md
run.sh
nohup.out
*.log
#openai_api_key.json
#openai_keys.txt
debug.py
tem.json
eval_results/
learn_results/
result_analyze.py
.DS_Store